<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Google Image Search</title>
	<meta name="author" content="Codrops" />
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<script>document.documentElement.className = "js";</script>
	<script src="//tymprelativeanus.net/codrops/adpacks/analytics.js"></script>
</head>

<body class="demo-3 loading">
	<main>
		<div class="frame">
			<h1 class="frame__title">Searh &nbsp; DELINEATION &nbsp; with us !</h1>
			<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;अतिशय&nbsp;&nbsp;💙</h2>
			<a class="frame__back" href="/static/index2.html">&nbsp;<b>Search Page 02</b></a>
			<a class="frame__prev"
				href="/static/index1.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<b>Search
					page 01</b></a>
			<a href="/static/index2.html"> <button class="button">
					Search Images here →
				</button></a>
			<div class="loader">
				<div class="box1"></div>
				<div class="box2"></div>
				<div class="box3"></div>
			</div>
		</div>

		<div class="content">
			<div class="content__inner">
				<h2>IM@@G#E"$ <br> ILLUSTRATIONS </h2>
				<h3>S#ARCH .IMG USING IMAG# SCRAPING</h3>
			</div>
			<div class="content__inner hidden">
				<h2>PIICTUUREE  <br> d#line@ti'on</h2>
				<h3>SAV# IMAG#S USING IMAG# SCRAPING</h3>
			</div>
			<div class="layers">
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/10.jpg)"></div>
				</div>
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/11.jpg)"></div>
				</div>
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/9.jpg)"></div>
				</div>
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/8.jpg)"></div>
				</div>
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/5.jpg)"></div>
				</div>
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/4.jpg)"></div>
				</div>
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/6.jpg)"></div>
				</div>
				<div class="layers__item">
					<div class="layers__item-img" style="background-image:url(/static/img/7.jpg)"></div>
				</div>
			</div>
		</div>

	</main>
	</div>
	<script src="https://tympanus.net/codrops/adpacks/cda_sponsor.js"></script>
	<script src="/static/js/imagesloaded.pkgd.min.js"></script>
	<script src="/static/js/gsap.min.js"></script>
	<script type="module" src="/static/js/javascript/index.js"></script>
</body>

</html>